#grained,
.grained-overlay {
	overflow: hidden;
	position: fixed!important;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 99;
	pointer-events: none
}

.grained-overlay {
	background: #1d1d1d;
	mix-blend-mode: multiply;
	opacity: .05;
	z-index: 100
}

h1,h2,h3,h4,h5,h6,p,span,a,div {
	font-family: Poppins;
}

@font-face {
	font-family: "Poppins";
	src: url(Poppins/Poppins-Black.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

@font-face {
	font-family: Poppins;
	src: url(Poppins/Poppins-Regular.ttf);
	font-weight: 400;
	font-style: normal;
	font-display: swap
}

.example::-webkit-scrollbar {
	display: none
}

::-webkit-scrollbar {
	width: 0;
	height: 0
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 0 grey;
	border-radius: 0
}

::-webkit-scrollbar-thumb {
	background: red;
	border-radius: 0
}

.preload {
	position: fixed;
	top: 0;
	width: 50%;
	height: 100vh;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: opacity .5s ease;
	z-index: 1002
}

.logo_preload {
	width: 200px;
	animation: color_logo 2s infinite cubic-bezier(0, 0, 1, 1.01);
	margin-top: -30px
}

.logo_preload.active {
	display: none!important
}

.logo_preload.active>img {
	display: none
}

@keyframes color_logo {
	0%,
	45% {
		opacity: 1
	}
	45%,
	90% {
		opacity: .5
	}
	100%,
	90% {
		opacity: 1
	}
}

.section_preload2 {
	width: 50%;
	right: 0;
	height: 100vh;
	background: #fff;
	position: fixed;
	top: 0;
	z-index: 1002
}

.section_preload {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
	display: flex
}

.preload.active {
	opacity: 0;
	pointer-events: none;
	visibility: hidden
}

html.loaded {
	overflow-x: hidden;
	overscroll-behavior-y: none;
	cursor: url(image/curs.png), auto;
	height: auto;
	overflow: scroll;
	-webkit-overflow-scrolling: touch
}

html {
	height: 100vh;
	overflow: hidden;
	-webkit-overflow-scrolling: touch
}

a {
	text-decoration: none
}

body {
	overflow: hidden;
	overflow-x: hidden;
	background: #1d1d1d;

}

*,
::before,
:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0
}

.overlay {
	position: fixed;
	width: 200%;
	height: 200vh;
	left: 0;
	top: 0;
	transform-origin: left;
	transform: scale(0);
	background: #fff;
	z-index: 3999;
	left: -50%;
	background: #161616;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 40%
}

.transition-wipe {
	transition: 1.3s cubic-bezier(0, 0, .58, 1);
	transform: scaleY(0);
	z-index: 999;
	z-index: 3999
}

html.is-animating .transition-wipe {
	transition: 1.3s cubic-bezier(0, 0, .58, 1);
	transform: scaleY(1.5);
	z-index: 999;
	z-index: 3999
}

html.is-leaving .transition-wipe {
	transition: 1.3s cubic-bezier(0, 0, .58, 1);
	z-index: 999;
	z-index: 3999
}

.header {
	width: 100%;
	position: fixed;
	z-index: 1001
}

.span_box {
	text-decoration: none;
	padding: .75rem 1.5rem;
	z-index: 1;
	float: right;
	padding: 40px;
	position: absolute;
	right: 0;
	outline: 0
}

.menu_span {
	width: 30px;
	height: 2px;
	display: block;
	margin-bottom: 5px;
	background: #fff;
	z-index: 999;
	transition: .3s;
	overflow: hidden
}

.menu_span:nth-child(1).active {
	transform: rotate(45deg);
	margin-bottom: -2px;
	overflow: hidden;
	transition: .3s;
	background: red
}

.menu_span:nth-child(2).active {
	transform: rotate(-45deg);
	transition: .3s;
	background: red
}

.slider1 {
	background: 0 0;
	position: fixed;
	width: 100%;
	z-index: -1;
	height: 100vh;
	top: 0;
	padding: 120px 80px;
	z-index: 0;
	left: -100%
}

.nav_menu {
	background: #fff;
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	padding: 140px 60px;
	z-index: 0;
	left: 100%
}

.nav_menu>h1 {
	font-family: Poppins;
	font-size: 28px;
	text-align: center
}

.nav_menu>h1>p {
	font-weight: 100;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	font-size: 15px
}

.nav_menu>h1>a {
	font-family: Poppins;
	font-size: 23px!important;
	text-decoration: underline;
	transition: .3s;
	color: #000;
	margin-bottom: 40vh
}

.email {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	text-decoration: underline!important
}

.nav_menu>h1>a {
	text-decoration: none
}

.nav_menu>h1>a:hover {
	opacity: .6;
	text-decoration: none;
	transition: .3s
}

.nav_menu>h1>a>img {
	margin-left: 5%;
	margin-top: 35%;
	width: 40px
}

.nav_menu ul {
	margin: 0;
	padding: 0
}

.nav_menu ul li {
	color: #000;
	list-style: none;
	margin-bottom: 100px;
	color: #000;
	text-align: center
}

.nav_menu ul li a {
	color: #000;
	font-size: 74px;
	list-style: none;
	margin-bottom: 15px;
	color: #000;
	font-family: Poppins
}

.logo {
	float: left;
	color: #000;
	text-decoration: none;
	font-size: 30px;
	margin: 15px;
	font-family: 'Poppins', serif;
	display: inline-block
}

.circle {
	position: fixed;
	top: 0;
	left: 0;
	pointer-events: none;
	display: block;
	background-attachment: fixed;
	opacity: 1;
	border-radius: 50px;
	background: 0 0;
	width: 50px;
	border: 1px solid #fff;
	transform-origin: center;
	transform: translate(-50%, -50%);
	height: 50px;
	z-index: 10;
	z-index: 4000;
	mix-blend-mode: difference
}

.circle.active {
	width: 0;
	height: 0;
	border: 0 solid red
}

.all_top {
	height: 100vh;
	position: relative
}

.section_top {
	width: 100%;
	z-index: -1;
	height: 100vh
}

.section_top::after {
	content: "";
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(180deg, transparent 40%, #1d1d1d 100%), url(image/fedeBack2.png);
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	opacity: 1
}

.slider_text {
	top: 50%;
	margin: auto;
	width: 100%;
	text-align: center;
	position: absolute
}

.slider_text_h1 {
	font-weight: 100;
	font-size: 78px;
	text-transform: uppercase;
	-webkit-text-stroke: 1px #fff;
	color: #fff;
	font-family: 'Poppins'
}

.slider_text2_h1 {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 75px;
	-webkit-text-stroke: 1px #fff;
	color: #fff;
	font-family: 'Poppins'
}

.block_container {
	width: 780px;
	height: 600px;
	position: relative;
	margin: 50px;
	overflow: hidden
}

.block {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover
}

.span_block {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #242424;
	mix-blend-mode: hard-light
}

.section_font {
	width: 100%;
	height: 100%;
	padding-top: 50px;
	padding-bottom: 100px;
	position: absolute;
	z-index: 999;
	margin-top: 80px;
	z-index: 999
}

.p_font {
	font-size: 40px;
	width: fit-content;
	font-family: "Poppins", serif;
	position: absolute;
	left: 5%;
	top: 20%;
	color: #fff
}

.p_font2 {
	font-size: 15px;
	width: fit-content;
	font-family: "Poppins", serif;
	position: absolute;
	left: 0;
	top: 100%
}

.span_text {
	position: relative
}

.section_font {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 50px;
	padding-bottom: 351px
}

.box_link {
	display: flex
}

.line {
	width: 50px;
	height: 2px;
	background: #fff;
	display: block;
	display: flex;
	margin-top: 200px
}

.line2 {
	width: 2000px;
	height: 2px;
	background: #fff;
	display: block;
	display: flex;
	margin-top: 200px;
	z-index: -1;
	margin-left: 120px
}

.link {
	margin-top: 190px;
	font-size: 15px;
	width: fit-content;
	text-transform: full-width;
	margin-left: 10px;
	position: absolute;
	left: 2.5%;
	color: #fff
}
.etro {
	left: 38% !important;
}
.svLink {
	margin-top: 180px;
	stroke-dasharray: 297px;
	stroke-dashoffset: 300px;
	transition: .5s;
	transform: scale(1.2)
}

.svLink:hover {
	stroke-dasharray: 297px;
	stroke-dashoffset: 0;
	transition: .5s
}

.firma {
	position: absolute;
	top: 32%;
	left: 5%;
}


.primo{
    position: absolute;
	top: 45%;
	left: 5%; 
}

.firma:nth-child(1){
    position: absolute;
	top: 32%;
	left: 5%;   
}

.firma:nth-child(1) {
	margin-top: 300px;
    background-color: red;
    top: 42% !important;
}

.firma>svg {
	stroke-dasharray: 297px;
	stroke-dashoffset: 300px;
	transition: 1s;
	width: fit-content;
	position: absolute;
	top: 35%;
	margin-top: 0
}

.container_proj {
	width: 600%;
	height: 100%;
	display: flex;
	flex-wrap: nowrap
}

.block_proj {
	position: relative;
	width: 660px;
	height: calc(var(--vh, 1vh) * 85);
	margin-top: 80px;
	margin-left: 250px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain
}

.testo {
	color: #fff;
	font-size: 30px;
	position: absolute;
	left: 1%;
	border-radius: 50%;
	padding: 5px;
	font-family: linux_libertine;
	text-transform: uppercase;
	margin-top: calc(var(--vh, 1vh) * 15)
}

.testo:hover {
	opacity: .5
}

.testo1 {
	color: #fff;
	font-size: 30px;
	position: absolute;
	left: .5%;
	font-family: linux_libertine;
	text-transform: uppercase;
	margin-top: calc(var(--vh, 1vh) * 35)
}

.testo2 {
	color: #fff;
	font-size: 15px;
	position: absolute;
	left: .5%;
	font-family: linux_libertine;
	text-transform: uppercase;
	margin-top: calc(var(--vh, 1vh) * 45)
}

.testo3 {
	color: #fff;
	font-size: 15px;
	position: absolute;
	left: 0;
	width: 2.3%;
	left: -1%;
	font-family: linux_libertine;
	text-transform: uppercase;
	margin-top: calc(var(--vh, 1vh) * 52)
}

.block_proj:nth-child(1) {
	background-image: url(image/o/o1.jpg)
}

.block_proj:nth-child(2) {
	background-image: url(image/o/o2.jpg)
}

.block_proj:nth-child(3) {
	background-image: url(image/o/o3.jpg)
}

.block_proj:nth-child(4) {
	background-image: url(image/o/o4.jpg)
}

.block_proj:nth-child(5) {
	background-image: url(image/o/o5.jpg)
}

.p_block {
	position: absolute;
	bottom: 0;
	font-size: 80px;
	font-weight: 200;
	transform: translateY(50px);
	color: #000;
	font-family: Cinzel, serif;
	left: -10%
}

.second_page:nth-child(1) {
	background-image: url(image/etro/e1.jpg)
}

.second_page:nth-child(2) {
	background-image: url(image/etro/e2.jpg)
}

.second_page:nth-child(3) {
	background-image: url(image/etro/e3.jpg)
}


.terza_pag:nth-child(1) {
	background-image: url(image/pap/p1.jpg)
}

.terza_pag:nth-child(2) {
	background-image: url(image/pap/p2.jpg)
}

.terza_pag:nth-child(3) {
	background-image: url(image/pap/p3.jpg)
}

.terza_pag:nth-child(4) {
	background-image: url(image/pap/p4.jpg)
}


.quarta_pag:nth-child(1) {
	background-image: url(image/ico/i1.jpg)
}

.quarta_pag:nth-child(2) {
	background-image: url(image/ico/i2.jpg)
}

.quarta_pag:nth-child(3) {
	background-image: url(image/ico/i3.jpg)
}

.quarta_pag:nth-child(4) {
	background-image: url(image/ico/i4.jpg)
}

.quinta_pag:nth-child(1) {
	background-image: url(image/off/o1.jpg)
}

.quinta_pag:nth-child(2) {
	background-image: url(image/off/o2.jpg)
}

.quinta_pag:nth-child(3) {
	background-image: url(image/off/o3.jpg)
}

.quinta_pag:nth-child(4) {
	background-image: url(image/off/o4.jpg)
}


.sesta_pag:nth-child(1) {
	background-image: url(image/nss/nss1.JPG)
}

.sesta_pag:nth-child(2) {
	background-image: url(image/nss/nss2.JPG)
}

.sesta_pag:nth-child(3) {
	background-image: url(image/nss/nss3.JPG)
}

.sesta_pag:nth-child(4) {
	background-image: url(image/nss/nss4.JPG)
}


.ottava_pag:nth-child(1) {
	background-image: url(image/rolla/r1.jpeg)
}

.ottava_pag:nth-child(2) {
	background-image: url(image/rolla/r2.jpeg)
}

.ottava_pag:nth-child(3) {
	background-image: url(image/rolla/r3.jpeg)
}

.ottava_pag:nth-child(4) {
	background-image: url(image/rolla/r4.jpeg)
}

.nona_pag:nth-child(1) {
	background-image: url(image/nast/n1.jpg)
}

.nona_pag:nth-child(2) {
	background-image: url(image/nast/n2.jpg)
}

.nona_pag:nth-child(3) {
	background-image: url(image/nast/n3.jpg)
}

.nona_pag:nth-child(4) {
	background-image: url(image/nast/n4.jpg)
}

html.active {
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none
}

body.active {
	position: fixed;
	overflow-x: hidden;
	overflow-y: hidden;
	height: 100%;
	width: 100%;
	overscroll-behavior-x: none;
	overscroll-behavior-y: none
}

.section_font {
	width: 33%;
	height: 100%;
	position: relative;
	margin-left: 5%
}

.container_all {
	padding-top: 50px;
	display: flex;
	padding-bottom: 351px;
	position: relative
}

.p_font {
	font-size: 50px;
	width: fit-content;
	font-family: "Poppins", serif;
	position: absolute;
	left: 5%;
	top: 20%;
	color: #fff;
	position: relative
}

.firma>svg {
	stroke-dasharray: 297px;
	stroke-dashoffset: 300px;
	transition: 1s;
	width: fit-content;
	position: absolute;
	top: 35%;
	margin-top: 80px
}

.block {
	width: 100%;
	height: 100%;
	position: absolute;
	object-fit: cover;
	position: relative;
	z-index: 999
}

footer {
	margin-bottom: 0px !important;
	background: transparent;
	padding: 10px;
	font-family: 'Poppins';
	/* mix-blend-mode: difference; */
	border: 2px solid #d7d7d729;
	border-right: none;
	border-left: none;
	color: white;
	border-bottom: none;
	mix-blend-mode: color-dodge;
}

tops {
	cursor: pointer
}

tops:hover {
	opacity: 0.5
}

.next_link {
	text-align: center;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 40%;
	font-size: 50px;
	color: white;
	left: 40%
}

.sfondo {
	background: #1d1d1d !important;
	background-image: none !important;
}


